body, html {
  height: 100%;
  margin: 0;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'Osaka', sans-serif;
}

.container {
  background-image: url('img/BBQ.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  position: relative;
  min-height: calc(100vh - 40px);
}

h1 {
  color: #000000;
  text-align: center;
  margin-bottom: 5px;
  font-size: 24px;
}

.event-details p {
  color: #000000;
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.1em;
}

.form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
}

.label, .reminder {
  display: block;
  margin-top: 10px;
  color: #000000;
}

.required, .optional {
  color: #ff0000;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #5cb85c;
  color: white;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

.emergency-contact-container {
  background-color: rgba(255, 255, 255, 0.8); /* 半透明の背景 */
  padding: 10px;
  border-radius: 5px; /* 角を丸める */
  margin: 20px auto; /* 上下の余白 */
  width: 95%; /* コンテナの幅に合わせる */
  box-sizing: border-box; /* パディングを含めた幅にする */
}

.emergency-contact {
  text-align: center;
  color: #cc0000; /* 目立つ色 */
  font-weight: bold;
}

.footer {
  text-align: center;
  color: #000000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .container, .emergency-contact-container {
    padding: 10px;
  }

  h1 {
    font-size: 18px; /* スマホ表示のときのフォントサイズを小さくする */
  }

  .form {
    width: 100%;
    box-sizing: border-box;
  }

  .emergency-contact {
    font-size: 0.9em; /* スマホ表示のときのフォントサイズを小さくする */
  }
}
